<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title>Cadastro Produto</title>

		<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	
	<body>
		<h1>Cadastro Produto</h1>
		<form  class="container" method="post">
			
				Nome: <br>
				<input type="text" name="nome" value=""/><br>
				Codigo:<br>
					<input type="text" name="codigo" value=""/><br>				
				Descricao:<br>
					<input type="text" name="descricao" value="" /><br>
				Quantidade:<br>
					<input type="text" name="quantidade" value=""/><br>
				Un. de Medida:<br>
					<p>
					     <label>
					        <input name="unidadeMedida" type="radio" value ="g" />
					        <span>Gramas</span>
					      </label>
					    </p>
					    <p>
					     <label>
					        <input name="unidadeMedida" type="radio" value ="KG" />
					        <span>KG</span>
					      </label>
					    </p>
  						<p>
					     <label>
					        <input name="unidadeMedida" type="radio" value ="TO" />
					        <span>TO</span>
					      </label>
					    </p>
					    <p>
					     <label>
					        <input name="unidadeMedida" type="radio" value ="UN" />
					        <span>Unidades</span>
					      </label>
					    </p>
				
				
  		<button class="btn-small waves-effect waves-light" type="submit" >Avançar<i class="material-icons right">send</i></button>
  		
		<h3 ><a href="/produto" class="waves-effect waves-light btn-small"><i class="material-icons left">close</i>Cancelar</a></h3>	
		</form>	
		

		<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
	</html>