<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title>Cadastro Cliente</title>
	</head>
	
	<body>
		<h1>Cadastro de Cliente</h1>
		<form method="post">
			Nome: <br>
			<input type="text" name="nome" value=""/><br>
			Cpf:<br>
			<input type="text" name="cpf" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)" ><br>
			Codigo:<br>
			 <input type="text" name="codigo" value=""/><br>
			Sexo:<br>
			 <input type="radio" name="sexo" value="m" checked> Masculino<br>
 			 <input type="radio" name="sexo" value="s"> Feminino<br>
  			


			<button type = "submit" > Salvar</button>
		</form>	
	</body>
	</html>