<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
	<head>
		<title>Cadastro Cliente</title>

		<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	
	<body>
		<h1>Cadastro de Cliente</h1>
		<form  class="container" method="post">
			<div class="row">
				Nome: <br>
				<input type="text" name="nome" value=""/><br>
				<div class="input-field col s4">
					Cpf:<br>
					<input type="text" name="cpf" maxlength="14" OnKeyPress="formatar('###.###.###-##', this)" ><br>
				</div>
				<div  class="input-field col s4">
					RG:<br>
					<input type="text" name="rg" value=""/><br>
				 </div>
				<div  class="input-field col s4">
					Sexo:
						<p>
					     <label>
					        <input name="sexo" type="radio" value ="m" />
					        <span>Masculino</span>
					      </label>
					    </p>
					    <p>
					     <label>
					        <input name="sexo" type="radio" value ="f" />
					        <span>Feminino</span>
					      </label>
					    </p>
				 </div> 		
			</div>
  		<button class="btn-small waves-effect waves-light" type="submit" >Salvar<i class="material-icons right">send</i></button>
  		
		<h3 ><a href="/cliente" class="waves-effect waves-light btn-small"><i class="material-icons left">close</i>Cancelar</a></h3>	
		</form>	
		

		<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	</body>
	</html>