<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Lista de Cliente</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1>Lista de Clientes</h1>

	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>CPF</th>
				<th>Codigo</th>
				<th>Sexo</th>
			</tr>		
		</thead>
		<tbody>
		<tr th:each= "cliente : ${clientes}">
			<td><span th:text ="${cliente.nome}"></span></td>
			<td><span th:text ="${cliente.cpf}"></span></td>
			<td><span th:text ="${cliente.codigo}"></span></td>
			<td><span th:text ="${cliente.sexo}"></span></td>
		</tr>

		</tbody>
	</table>

	

	</div>
	<h3 ><a href="/cliente" class="waves-effect waves-light btn-small"><i class="material-icons left">home</i>Pagina inicial</a></h3>




	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>


</html>